.category {
  padding: 50px 50px 0px 50px;
  background: #3949ab;
  width: 100%;
}

.category::after {
  content: '';
  display: table;
  clear: both
}

.category span {
  float: left;
  color: #7986cb;
  font-size: 8pt;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 700;
  margin-right: 30px;
}

.selectCategory {
  color: #fff !important;
}

.allCategory {
  float: right !important;
  margin-right: 0px !important;
}

.navigation {
  padding: 60px 50px 40px 50px;
  background: #3949ab;
  width: 100%;
}

.navigation::after {
  content: '';
  display: table;
  clear: both
}

.firstDate {
  color: #7986cb !important;
  line-height: 40pt !important;
}

.leftNav span {
  color: #fff;
  font-size: 30pt;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 300;
  line-height: 30pt;
}

.leftNav {
  float: left;
}

.rightNav {
  float: right;
}

.rightNav span {
  line-height: 40pt !important;
}

.rightNav i {
  font-size: 18pt;
  margin-left: 8pt;
  color: #7986cb;
}