@charset "UTF-8";

.colorLinkText1 {
  color: #1a237e;
}

.colorLinkText2 {
  color: #FA6F54;
}

.colorLinkText3 {
  color: #3f4963;
}

.colorLinkText4 {
  color: #4db6ac;
}

.colorLinkText5 {
  color: #bdbdbd;
}

.headerPortal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #fff;
  z-index: 30;
  padding: 20px;
}

.headerPortal i {
  float: right;
  font-size: 12pt;
  margin-right: 0;
}

.headerPortal span {
  font-size: 12pt;
  color: #424242;
}

.headerPortal hr {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#magicButtonTop {
  display: none;
  color: #3f51b5;
}

/* 통계 섹션 */
.dataTextMainLast {
  font-size: 10pt;
  color: #3f51b5;
  letter-spacing: 2px;
  font-family: 'Song Myung', serif;
}

.datatextMainLine {
  margin-top: 16px;
  margin-bottom: 24px;
  color: #e8eaf6 !important;
}

.dataTextMainMinus {
  font-size: 10pt;
  color: #fff;
  letter-spacing: 2px;
  font-family: 'Song Myung', serif;
  padding: 2px 6px 4px 8px;
  -webkit-border-radus: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: #3f51b5;
  margin-right: 10px;
}

.dataTextMainMinus2 {
  float: right;
  font-size: 10pt;
  color: #fff;
  letter-spacing: 2px;
  font-family: 'Song Myung', serif;
  padding: 2px 6px 4px 8px;
  -webkit-border-radus: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: #3f51b5;
  margin-right: 10px;
}

.dataTextMainMonthNumber {
  font-size: 30pt;
  color: #3f51b5;
  letter-spacing: 2px;
  font-family: 'Song Myung', serif;
}

.dataTextMainMonth {
  font-size: 12pt;
  color: #3f51b5;
  letter-spacing: 0px;
  font-family: 'Song Myung', serif;
}

.dataTextMainMonthName {
  font-size: 14pt;
  color: #3f51b5;
  letter-spacing: 0px;
  font-family: 'Song Myung', serif;
}

/* 콘텐츠 내용 */
.textRight {
  float: right;
}

.textInfo span {
  font-size: 8pt;
  color: #9e9e9e;
  background: #f5f5f5;
  padding: 4px 4px 2px 4px;
  border-top: 1px solid #f5f5f5;
}

.textInfo {
  float: left;
  width: 33%;
  height: 30px;
}

.areaInfo {
  position: relative;
  width: 100%;
}

.areaLine {
  color: #f5f5f5;
  margin-top: 10px;
  margin-bottom: 10px;
}

.areaSticker {
  position: absolute;
  top: 92px;
  right: 12px;
  width: 16px;
  height: 16px;
}

.areaSticker span {
  color: #9e9e9e;
  font-size: 16px;
  margin-right: 0px;
}

.areaPeaple {
  position: relative;
  padding-top: 34px;
  width: 100%;
}

.textPeaple {
  font-size: 8pt;
  color: #9e9e9e;
  padding: 0px 4px 2px 4px;
  margin-right: 6px;
  border-bottom: 1px solid #f5f5f5;
}

.areaWhat {
  position: relative;
  width: 100%;
}

.textLine {
  text-decoration: line-through;
}

.textTime {
  font-size: 10pt;
  color: #424242;
  letter-spacing: 1pt;
}

.content s {
  color: #424242;
}

.textWhat {
  margin-right: 6px;
  padding: 2px 2px 0 2px;
  font-size: 14pt;
  color: #424242;
  background: #f5f5f5;
}

/* 글씨폰트 */
.textFont {
  font-family: 'Gothic A1', sans-serif !important;
}

/* 헤더바 */
.headerLinkBox {
  float: left;
  margin-left: 5%;
  width: 90%;
  height: 40px;
  padding-top: 11px;
}

.headerLinkUnder1 {
  border-bottom: 2px solid #fff !important;
  color: #fff !important;
}

.headerLinkUnder2 {
  border-bottom: 2px solid #fff !important;
  color: #fff !important;
}

.headerLinkUnder3 {
  border-bottom: 2px solid #fff !important;
  color: #fff !important;
}

.headerLinkBox span {
  font-size: 10pt;
  color: #3f51b5;
  padding: 0 20px 10px 20px;
  border-bottom: 2px solid #1a237e;
}

.headerLinkBox i {
  margin-right: 10px;
}

.headerLink1 {
  float: left;
  width: 33%;
  height: 30px;
}

.headerLink2 {
  float: left;
  width: 34%;
  height: 30px;
}

.headerLink3 {
  float: left;
  width: 33%;
  height: 30px;
}

.headerMenu {
  float: left;
  height: 50px;
  padding-top: 15px;
  margin-left: 4%;
  margin-right: 4%;
}

.headerMenu i {
  color: #fff;
  font-size: 14pt;
}

.headerLogoClose {
  float: left;
  height: 50px;
  padding-top: 16px;
}

.headerLogoClose span {
  font-size: 14pt;
  color: #fff;
  letter-spacing: 1px;
}

.headerLogoOpen {
  display: none;
  float: left;
  height: 50px;
  padding-top: 16px;
}

.headerLogoOpen span {
  font-size: 14pt;
  color: #3f51b5;
  letter-spacing: 1px;
}

.headerLogout {
  float: right;
  margin-left: 4%;
  margin-right: 4%;
  height: 50px;
  padding-top: 16px;
}

.headerLogout i {
  font-size: 14pt;
  color: #fff;
}

/* etc. */
.contentStage {
  position: relative;
  width: 92%;
  height: 160px;
  background: #fff;
  padding: 20px 10px 0 10px;
  margin-left: 4%;
  margin-bottom: 14px;
}

.backGroundLast {
  background: #ededed;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

.backstage1 {
  display: block;
  background: #e8eaf6;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 106px;
  opacity: 1;
}

.backGroundStage1 {
  display: none;
  position: absolute;
  top: 0px;
  left: -100%;
  width: 100%;
  padding-top: 106px;
  opacity: 0;
}

.backstage2 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #e8eaf6;
  padding-top: 100px;
  opacity: 1;
}

.backGroundStage2 {
  display: none;
  position: absolute;
  top: 0px;
  left: -100%;
  width: 100%;
  padding-top: 100px;
  opacity: 0;
}

.backstage3 {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #e8eaf6;
  padding-top: 100px;
  opacity: 1;
}

.backGroundStage3 {
  display: none;
  position: absolute;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 800px;
  ;
  padding-top: 100px;
  opacity: 0;
}

.header {
  position: fixed;
  width: 100%;
  height: 90px;
  left: 0;
  top: 0;
  background: #1a237e;
  z-index: 10000;
}

.borderRound {
  -webkit-border-radus: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.shadow1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.board-wrapper .ab-checkbox input {
  display: none;
}

.board-wrapper .ab-checkbox input:checked~label {
  opacity: 1;
}

.board-wrapper .ab-checkbox label {
  opacity: 0.25;
}

input[type=checkbox].cart {
  display: none;
}

input[type=checkbox].cart:checked~label .far, input[type=checkbox].cart:checked~label svg[data-prefix=far] {
  display: none;
}

input[type=checkbox].cart:checked~label .fas, input[type=checkbox].cart:checked~label svg[data-prefix=fas] {
  display: inline-block;
}